<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style2.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <script src="https://unpkg.com/localbase/dist/localbase.dev.js"></script>

<script>
 /* let db = new Localbase('demodb');

   db.collection('demos').add({
    name: document.getElementsByName('name'),
    Gender:document.getElementsByName('Gender').values(),
    address: "23-01-2001",
    Contactnumber:
    Needtype: ,
    Needcategory:db,
    Amountneeded:

  });*/
  const express = require('express');
  const bodyParser = require('body-parser');
  const app = express();
  app.use(bodyParser.urlencoded({extended: true}));
  app.use(express.static("public"));
app.use(express.static(__dirname + '/'));

  app.post("/login",function(req,res){
    console.log("req.body.Gender");
    const newform=new Form({
    uid:1234567,
    name: req.body.name,
    Gender: req.body.Gender,
    Address: req.body.Address,
    Contactnumber: req.body.phone,
    Needtype: req.body.needtype,
    Needcategory: req.body.needcategory,
    Amountneeded: req.body.amount
});
newform.save();
//db.collection('formdb').add(newform);
res.redirect('/userlogin');
});
app.listen(7000,function(){
    console.log("server is running on port 7000");
  });
</script>
        <h1>Form</h1>
        <form action="/login" method="post">
            <div class="flex-container">
                <label class="flex-item-left">Name</label>
                <input class="flex-item-right" type="text" name="name" required="required">
              
                
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left">DOB:</label>
                <input class="flex-item-right" type="date" name="date" required>
               

            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left" name="Gender">Gender:</label>
                <br>
                <input type="radio" id="male" name="Male" value="Male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="Female" value="Female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="Other" value="Other">
                <label for="other">Other</label>
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left">Address</label>
                <textarea class="flex-item-right" name="Address"></textarea>
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left" for="phone">Contact number</label>
                <input class="flex-item-right" type="tel" id="phone" name="phone">
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left" for="dur">Duration of association</label>
                <select required class="flex-item-right" name="dur" id="dur">
                    <option>
                        1 year</option>
                    <option>1-3 years</option>
                    <option>>3years</option>
                </select>
            </div>
       
            <div class="flex-container">
                <label class="flex-item-left" for="dur">Type of need</label>
                <select class="flex-item-right" name="needtype" id="cat1" onchange=" f1();">
                    <option>
                        Financial</option>
                    <option>Non-financial</option>
                </select>
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left" for="dur">Sub-category</label>
                <select class="flex-item-right" name="needcategory" id="cat2" onchange=" f2()">
                    <option>
                        Education</option>
                    <option>Health</option>
                    <option>Livelihood</option>
                    <option>Life skills</option>
                    <option>Eduation Counselling</option>
                    <option>Medical Counselling</option>
                </select>
            </div>
            <br>
            <div class="flex-container">
                <label class="flex-item-left">Amount needed(in Rs.)</label>
                <input class="flex-item-right" type="number" name="amount" required>
            </div>
            <br>
            <button onclick="f3()">Next</button>
        </form>
        <!-- <button onclick="f3()">Next</button> -->
        <script src="script.js">
        </script>
    </body>

</html>